<!--Footer-->
<div class="container w-full m-auto pb-16">
    <div class="flex flex-col w-full mb-4 text-center">
    <h2 class="mb-8 text-2xl text-green-800 font-bold">
        Контакти
    </h2>
    <div class="w-full py-2 text-center "><p><a href="mailto:ecorozetkapark@gmail.com">ecorozetkapark&#64;gmail.com</a></p></div>
    <div class="w-full py-2 text-center "><p>+38 068 071 20 44</p></div>
    </div>
</div>

<div class="h-10 w-full text-sm text-center fade-in">
    <span>&copy; ЕкоРозетка 2024</span>
</div>