<div class="pb-14">
	<!--Main-->
	<div class="pt-0 md:pt-0 md:px-24 mx-auto flex flex-wrap flex-col md:flex-row items-center w-4/5">
        <div class="w-full pb-8"><h1 class="my-4 text-3xl md:text-5xl text-emerald-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">Контакти</h1></div>
        <div class="w-full py-2 text-center md:text-left"><p><a href="mailto:ecorozetkapark@gmail.com">ecorozetkapark&#64;gmail.com</a></p></div>
        <div class="w-full py-2 text-center md:text-left"><p>+38 068 071 20 44</p></div>
    </div>
</div>