<div class="my-14">
	<!--Main-->
	<div class="pt-0 md:pt-0 md:px-24 mx-auto flex flex-wrap flex-col md:flex-row items-center w-4/5">
        <div class="w-full pb-8"><h1 class="my-4 text-3xl md:text-5xl text-emerald-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">Політика конфіденційності</h1></div>
        <div class="w-full py-2">
            <p>Ми, розробники додатку, зобовязуємося дотримуватися політики конфіденційності і захищати конфіденційні дані користувачів. Ця політика пояснює, як ми збираємо, використовуємо та захищаємо інформацію, яку ми отримуємо від користувачів додатку.</p>

            <p>Збір інформації:</p>

            <p>Наш додаток використовує камеру, щоб сканувати QR-коди. При скануванні QR-коду з допомогою камери, додаток збирає дані, що були закодовані у цьому QR-коді. Зокрема, ми збираємо ім'я, прізвище та номер телефону користувача. Ці дані зберігаються в Firebase Firestore, щоб ми могли забезпечити можливість зв'язку з цими користувачами в разі потреби.</p>

            <p>Використання інформації:</p>

            <p>Ми використовуємо зібрані дані лише з метою забезпечення послуг, які ми надаємо через наш додаток. Ми не продаємо, не передаємо іншим третім сторонам або не використовуємо інформацію, що була зібрана, для будь-яких комерційних цілей. Ми використовуємо дані, що були зібрані виключно для того, щоб зв'язатися з нашими користувачами, якщо це буде необхідно.</p>

            <p>Захист інформації:</p>

            <p>Ми вживаємо всіх необхідних заходів для захисту інформації, що була зібрана від наших користувачів. Ми застосовуємо технології шифрування та контролю доступу, щоб забезпечити безпеку зібраної інформації.</p>
        </div>
    </div>
</div>