<!--Main-->
<div class="container pt-0 md:pt-0 sm:pt-16 md:px-12 mx-auto my-14 flex flex-wrap flex-col md:flex-row items-center">
    <!--Left Col-->
    <div class="flex flex-col w-full md:w-1/2 xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
        <h1 class="my-4 text-3xl md:text-5xl text-emerald-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">ЕкоРозетка</h1>
        <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle">Мережа зарядних станцій</p>

        <p class="text-green-800 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in">Завантажте додатки:</p>
        <div class="flex w-full justify-center md:justify-start pb-24 lg:pb-0 fade-in">
            <a href="https://apps.apple.com/ua/app/ecorozetka/id6480327911?l=uk" target="_blank"><img src="../assets/App_Store.svg" class="h-12 pr-4 bounce-top-icons"></a>
            <a href="https://play.google.com/store/apps/details?id=com.test2_eco_rozetka" target="_blank"><img src="../assets/Play_Store.svg" class="h-12 bounce-top-icons"></a>
        </div>

    </div>

    <!--Right Col-->
    <div class="w-full xl:w-3/5 md:w-1/2 overflow-y-hidden">
        <img class="w-5/6 mx-auto lg:mr-0 slide-in-bottom" src="../assets/ElectroCar.svg">
    </div>
</div>